<a href="https://colab.research.google.com/github/YaCpotato/python_tutorial_reading_session/blob/master/Python%E3%83%81%E3%83%A5%E3%83%BC%E3%83%88%E3%83%AA%E3%82%A2%E3%83%AB%E8%BC%AA%E8%AA%AD%E4%BC%9AVol_3%E7%94%A8%E3%83%8E%E3%83%BC%E3%83%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## データ構造

### 5.1 リスト型について

#### **list.append(x)**
リストの末尾に要素を一つ追加します。
```python
a[len(a):] = [x] 
```
と等価

In [0]:
a = [1, 2, 3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [0]:
# リストaの長さの位置（len(a)）　”から先は”　= で指定した配列ですよって式↓
# 配列の結合（pandasのconcatみたいなやつ）なので、[5]と書いているところを単に５と書くとエラーになる

a[len(a):] = [5]
print(a)

[1, 2, 3, 4, 5]

#### **list.extend(iterable)**
イテラブルのすべての要素を対象のリストに追加し、リストを拡張します。 
```python
a[len(a):] = iterable
```
と等価

In [0]:
b = [1, 2, 3]
b.extend(range(0, 10))
print(b)

[1, 2, 3, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
b[len(b):] = range(1, 11, 2)
print(b)

[1, 2, 3, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 3, 5, 7, 9]

#### **list.insert(i, x)**
指定した位置に要素を挿入します。第 1 引数は、リストのインデクスで、そのインデクスを持つ要素の直前に挿入が行われます。
```python
a.insert(0, x) # リストaの先頭（インデックス０）に挿入

a.insert(len(a), x) #下と等価
a.append(x)
```

In [0]:
c = [1, 2, 3]
c.insert(1, 0)
print(c)

[1, 0, 2, 3]

In [0]:
copy_c = c.copy()
copy_c.insert(len(copy_c),1)
c.append(1)
print("c is {list}".format(list = c))
print("copy_c is {list}".format(list = copy_c))

c is [1, 0, 2, 3, 1]
copy_c is [1, 0, 2, 3, 1]

#### **list.remove(x)**
リスト中で、**値 x を持つ最初の要素を削除**します。該当する項目がなければエラー
**0から検索して、削除するのは一回だけ。全てではないので要注意**

In [0]:
d = [1, 0, 2, 3, 0] # インデックス１の０が削除される
d.remove(0)
print(d)

[1, 2, 3, 0]

#### **list.pop([i])**
リスト中の指定された位置にある要素をリストから削除して、その要素を返します。インデクスが指定されなければ、 a.pop() はリストの末尾の要素を削除して返します。この場合も要素は削除される　　

引数の[ ] 　は、オプション引数の表記。なくてもいい

In [0]:
e = [1,0,2,3]
print("e.pop(1) の戻り値は {pop}.".format(pop = e.pop(1))) # インデックス１にある要素を抜き出す
print("現在の変数eは {e}".format(e = e))

e.pop(1) の戻り値は 0.
現在の変数eは [1, 2, 3]

#### **list.clear()**
リスト中の全ての要素を削除する。
```python
del a[:]
```
と等価

In [0]:
f = [1,2,3]
g = [4,5,6]
f.clear()
print("f is {list}".format(list = f))
g.clear()
print("g is {list}".format(list = g))

f is []
g is []

#### **list.index(x[, start[, end]])**
リスト中で、値 x を持つ最初の要素の位置をゼロから始まる添字で返します。 該当する要素がなければ、ValueError を送出します。

任意の引数である start と end はスライス記法として解釈され、リストの探索範囲を指定できます。返される添字は、start 引数からの相対位置ではなく、リスト全体の先頭からの位置になります。

**配列みたいな表記はオプション引数の表記だから！**

In [0]:
h = [0,0,0,1,1,1,0,0]
print(h.index(1))

3

In [0]:
i = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
print(len(i))

140

In [0]:
# 鷹の目スキルを使って、インデックス15あたりに１ない？ってのがわかったので
# 誤差プラマイ５を考慮して探索してみよう

# インデックス１０から２０の間にありそうな１を探索する
print(i.index(1, 10, 20))

19

#### **list.count(x)**
リストでの x の出現回数を返す。

In [0]:
k = [0, 0, 0, 0, 1, 1, 1, 1, 2, 2]
print(k.count(1))

4

#### **list.sort(key=None, reverse=False)**

リストの項目を、インプレース演算 (in place、元のデータを演算結果で置き換えるやりかた) でソートします。引数はソート方法のカスタマイズに使えます。 

sorted() はイテラブルも可能

**=Noneとかはデフォルト引数の表記ね。つまり引数なしでも呼べるの**

https://docs.python.org/ja/3/howto/sorting.html

In [0]:
l = [1, 3, 2, 6, 5, 4]
l.sort()
print(l)

[1, 2, 3, 4, 5, 6]

In [0]:
m = [1, 5, 3, 4, 6, 2]
m.sort(reverse=True)
print(m)

[6, 5, 4, 3, 2, 1]

In [0]:
n = range(10,0,-1)
print(list(n))
print(sorted(n))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

キーとして扱えるものが存在するタプルや辞書には引数keyで対応できる

In [0]:
o = [
     (3, "Joseph Gilgun"),
     (4, "Samy Naceri"),
     (1, "Sylvester Stallone"),
     (2, "Jason Statham")
    ]

o.sort(key=lambda x: x[0]) # タプル要素０の数字ソート
print(n)

[(1, 'Sylvester Stallone'), (2, 'Jason Statham'), (3, 'Joseph Gilgun'), (4, 'Samy Naceri')]

#### **list.reverse()**
リストの要素を、インプレース演算で逆順にします。

In [0]:
p = [1, 1, 0, 0, 2, 2]
p.reverse()
print(p)

[2, 2, 0, 0, 1, 1]

#### **list.copy()**
リストの浅い (shallow) コピーを返します。a[:] と等価です。

In [0]:
q = [1, 2, 3, 4]
r = q.copy()
s = q[:]
print(q)
print(r)
print(s)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

### 5.1.1 リストをスタックとして使う
スタックってなに：挿入、削除がリストの先頭からしかできないLIFO（Last In First Out）のデータ構造

In [0]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print(stack)

[3, 4, 5, 6, 7]

In [0]:
stack.pop()

7

In [0]:
print(stack)

[3, 4, 5, 6]

In [0]:
stack.pop()

6

In [0]:
stack.pop()

5

### 5.1.2 リストをキューとして使う
キューってなに：先に入れた要素から順に取り出すという規則で出し入れを行うFIFO(First In First Out)データ構造

In [0]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [0]:
queue.popleft()                 # The second to arrive now leaves

'John'

In [0]:
queue

deque(['Michael', 'Terry', 'Graham'])

### 5.1.3 リストの内包表記

In [0]:
squares = []
for x in range(10):
  squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [0]:
squares = list(map(lambda x: x**2, range(10)))
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [0]:
squares = [x**2 for x in range(10)]
print(squares)

In [0]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

1. x = 1でy = 3,1,4とループが回るが、y = 1 = xとなるのでそこは出力されない(この時点で(1, 3),(1, 4)が出力されている)
2.3も同様に、x = yでないときを除き、yとのタプルが生成される。

わかりやすくすると以下のようなコードになる

In [0]:
combs = []
for x in [1, 2, 3]:
  for y in [3, 1, 4]:
    if x != y:
      combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [0]:
vec = [-4, -2, 0, 2, 4]

# ２倍の値のリストを作る
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [0]:
# リストからマイナスの値を除く
[x for x in vec if x >= 0]

[0, 2, 4]

In [0]:
# リスト内全ての値に関数を適用する
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

In [0]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']

# 半角スペースをリストの各要素から除く
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [0]:
# 数値とその二条の値からなるタプルのリストを作る
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [0]:
# list comprehensionを使って二次元リストを平滑化する
vec = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[num for elem in vec for num in elem]

#### リスト内包表記
リストの中身を二倍にしたリストを作りたい場合

**リスト内包表記を使わない場合**

In [0]:
ｔ = [1, 2, 3]

def doubler(lst):
    doubled = []
    for num in lst:
        doubled.append(num*2)
    return doubled

double_ｔ = doubler(ｔ)
print(double_ｔ)

[2, 4, 6]

**リスト内包表記を使う場合**

In [0]:
u = [1, 2, 3]

def doubler(lst):
    doubled = [num*2 for num in lst]
    return doubled

double_u = doubler(u)
print(double_u)

[2, 4, 6]

In [0]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

### 5.1.4. ネストしたリストの内包表記

In [0]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
 ]

In [0]:
# リストの行と列を入れ替える（行列の転置）
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

下記のコードも同様の結果になる

In [0]:
transposed = []

for i in range(4):
  transposed.append([row[i] for row in matrix])

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

下記も同じ

In [0]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
 ]

transposed = []
for i in range(4):
  transposed_row = []
  for row in matrix:
    transposed_row.append(row[i])
  transposed.append(transposed_row)

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [0]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
 ]

list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

### 5.2 del文
リストから要素を削除する際、値を指定するlist.remove(value)の代わりにインデックスを指定する方法

In [0]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
print(a)

[1, 66.25, 333, 333, 1234.5]

In [0]:
del a[2:4]
print(a)

[1, 66.25, 1234.5]

In [0]:
del a[:]
print(a)

[]

## 5.3. タプルとシーケンス

In [0]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [0]:
t

(12345, 54321, 'hello!')

In [0]:
u = t, (1, 2, 3, 4, 5)
u
((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [0]:
empty = ()
singleton = 'hello',    # <-- note trailing comma

In [0]:
len(empty)

0

In [0]:
len(singleton)

1

In [0]:
singleton

('hello',)

In [0]:
t = 12345, 54321, 'hello!'

In [0]:
t

(12345, 54321, 'hello!')

In [0]:
x, y, z = t
print(x)
print(y)
print(z)

12345
54321
hello!

### 集合型

In [0]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      #　重複は削除される

{'orange', 'pear', 'apple', 'banana'}

In [0]:
'orange' in basket

True

In [0]:
'crabgrass' in basket

False

In [0]:
# 2つの集合に対して集合操作の例

a = set('abracadabra')
b = set('alacazam')

#　aに含まれている文字
print(a)

#　aに含まれていて、bに含まれていない文字
print(a - b)

#　aとbどちらかに含まれている文字
print(a | b)

#　aとbどちらにも含まれている文字
print(a & b)

#　aとbどちらかに含まれているが、両方には含まれていることはない文字
print(a ^ b)

{'c', 'a', 'd', 'b', 'r'}
{'b', 'r', 'd'}
{'c', 'a', 'm', 'd', 'z', 'b', 'r', 'l'}
{'a', 'c'}
{'z', 'b', 'r', 'l', 'm', 'd'}

In [0]:
a = {x for x in 'abracadabra' if x not in 'abc'}
print(a)

{'r', 'd'}

### 辞書型

In [0]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
print(tel)

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [0]:
tel['jack']

4098

In [0]:
del tel['sape']
tel['irv'] = 4127
print(tel)

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [0]:
list(tel.keys())

['jack', 'guido', 'irv']

In [0]:
sorted(tel.keys())

['guido', 'irv', 'jack']

In [0]:
'guido' in tel

True

In [0]:
'jack' not in tel

False

In [0]:
# 辞書にも内包表記が使える
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

### 5.6. ループのテクニック

辞書に対してループを行う際、 items() メソッドを使うと、キーとそれに対応する値を同時に取り出せます。

In [0]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
  print(k, v)

gallahad the pure
robin the brave

シーケンスにわたるループを行う際、 enumerate() 関数を使うと、要素のインデックスと要素を同時に取り出すことができます。

In [0]:
for i, v in enumerate(['tic', 'tac', 'toe']):
  print(i, v)

0 tic
1 tac
2 toe

二つまたはそれ以上のシーケンス型を同時にループするために、関数 zip() を使って各要素をひと組みにすることができます。

In [0]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
  print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

シーケンスを逆方向に渡ってループするには、まずシーケンスの範囲を順方向に指定し、次いで関数 reversed() を呼び出します。

In [0]:
for i in reversed(range(1, 10, 2)):
  print(i)

9
7
5
3
1

シーケンスをソートされた順序でループするには、 sorted() 関数を使います。この関数は元の配列を変更せず、ソート済みの新たな配列を返します。

In [0]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
  print(f)

apple
banana
orange
pear

ときどきループ内でリストを変更したい誘惑に駆られるでしょうが、代わりに新しいリストを作ってしまうほうがより簡単で安全なことが、ままあります

In [0]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
  if not math.isnan(value):
    filtered_data.append(value)

In [0]:
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

### 条件についてもう少し

while や if 文で使った条件 (condition) には、値の比較だけでなく、他の演算子も使うことができます。

**比較演算子 in および not in は、ある値があるシーケンス中に存在するか (または存在しないか) どうかを調べます**。**演算子 is および is not は、二つのオブジェクトが実際に同じオブジェクトであるかどうかを調べます**。この比較は、リストのような変更可能なオブジェクトにだけ意味があります。全ての比較演算子は同じ優先順位を持っており、ともに**数値演算子よりも低い優先順位**となります。(訳注: is は、 is None のように、シングルトンの変更不能オブジェクトとの比較に用いる場合もあります。(「変更可能なオブジェクトにだけ意味があります」の部分を削除することを Doc-SIG に提案中。))

比較は連結させることができます。例えば、 a < b == c は、 a が b より小さく、かつ b と c が等しいかどうかをテストします。

**ブール演算子 and や or** で比較演算を組み合わせることができます。そして、比較演算 (あるいは何らかのブール式) の結果の否定は not でとれます。これらの**演算子は全て、比較演算子よりも低い優先順位**になっています。 A and not B or C と (A and (not B)) or C が等価になるように、**ブール演算子の中で、 not の優先順位が最も高く、 or が最も低くなっています。**もちろん、丸括弧を使えば望みの組み合わせを表現できます。

**ブール演算子 and と or は、いわゆる 短絡 (short-circuit) 演算子です**。これらの演算子の引数は左から右へと順に評価され、結果が確定した時点で評価を止めます。例えば、 A と C は真で B が偽のとき、 A and B and C は式 C を評価しません。一般に、短絡演算子の戻り値をブール値ではなくて一般的な値として用いると、値は最後に評価された引数になります。

比較や他のブール式の結果を変数に代入することもできます。例えば、

In [0]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
string1 or string2 or string3

'Trondheim'

### 5.8. シーケンスとその他の型の比較

シーケンスオブジェクトは同じシーケンス型の他のオブジェクトと比較できます。比較には 辞書的な (lexicographical) 順序が用いられます。まず、最初の二つの要素を比較し、その値が等しくなければその時点で比較結果が決まります。等しければ次の二つの要素を比較し、以降シーケンスの要素が尽きるまで続けます。比較しようとする二つの要素がいずれも同じシーケンス型であれば、そのシーケンス間での辞書比較を再帰的に行います。二つのシーケンスの全ての要素の比較結果が等しくなれば、シーケンスは等しいとみなされます。片方のシーケンスがもう一方の先頭部分にあたる部分シーケンスならば、短い方のシーケンスが小さいシーケンスとみなされます。文字列に対する辞書的な順序づけには、個々の文字を並べるのに Unicode コードポイントの数を用います。以下に、同じ型のオブジェクトを持つシーケンス間での比較を行った例を示します:

In [0]:
(1, 2, 3) < (1, 2, 4)

True

In [0]:
[1, 2, 3] < [1, 2, 4]

True

In [0]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [0]:
(1, 2, 3, 4) < (1, 2, 4)

True

In [0]:
(1, 2) < (1, 2, -1)

True

In [0]:
(1, 2, 3) == (1.0, 2.0, 3.0)

True

In [0]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True

違う型のオブジェクト同士を < や > で比較することも、それらのオブジェクトが適切な比較メソッドを提供しているのであれば許可されます。例えば、異なる数値型同士の比較では、その数値によって比較が行われます。例えば、 0 と 0.0 は等価です。一方、適切な比較順序がない場合は、インタープリターは TypeError 例外を発生させます。