<a href="https://colab.research.google.com/github/YaCpotato/python_tutorial_reading_session/blob/master/Python%E3%83%81%E3%83%A5%E3%83%BC%E3%83%88%E3%83%AA%E3%82%A2%E3%83%AB%E8%BC%AA%E8%AA%AD%E4%BC%9AVol_3%E7%94%A8%E3%83%8E%E3%83%BC%E3%83%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## データ構造

### 5.1 リスト型について

#### **list.append(x)**
リストの末尾に要素を一つ追加します。
```python
a[len(a):] = [x] 
```
と等価

In [0]:
a = [1, 2, 3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [0]:
# リストaの長さの位置（len(a)）　”から先は”　= で指定した配列ですよって式↓
# 配列の結合（pandasのconcatみたいなやつ）なので、[5]と書いているところを単に５と書くとエラーになる

a[len(a):] = [5]
print(a)

[1, 2, 3, 4, 5]

#### **list.extend(iterable)**
イテラブルのすべての要素を対象のリストに追加し、リストを拡張します。 
```python
a[len(a):] = iterable
```
と等価

In [0]:
b = [1, 2, 3]
b.extend(range(0, 10))
print(b)

[1, 2, 3, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
b[len(b):] = range(1, 11, 2)
print(b)

[1, 2, 3, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 3, 5, 7, 9]

#### **list.insert(i, x)**
指定した位置に要素を挿入します。第 1 引数は、リストのインデクスで、そのインデクスを持つ要素の直前に挿入が行われます。
```python
a.insert(0, x) # リストaの先頭（インデックス０）に挿入

a.insert(len(a), x) #下と等価
a.append(x)
```

In [0]:
c = [1, 2, 3]
c.insert(1, 0)
print(c)

[1, 0, 2, 3]

In [0]:
copy_c = c.copy()
copy_c.insert(len(copy_c),1)
c.append(1)
print("c is {list}".format(list = c))
print("copy_c is {list}".format(list = copy_c))

c is [1, 0, 2, 3, 1]
copy_c is [1, 0, 2, 3, 1]

#### **list.remove(x)**
リスト中で、**値 x を持つ最初の要素を削除**します。該当する項目がなければエラー

In [0]:
d = [1, 0, 2, 3, 0] # インデックス１の０が削除される
d.remove(0)
print(d)

[1, 2, 3, 0]

#### **list.pop([i])**
リスト中の指定された位置にある要素をリストから削除して、その要素を返します。インデクスが指定されなければ、 a.pop() はリストの末尾の要素を削除して返します。この場合も要素は削除される　　

引数の[ ] 　は、オプション引数の表記。なくてもいい

In [0]:
e = [1,0,2,3]
print("e.pop(1) の戻り値は {pop}.".format(pop = e.pop(1))) # インデックス１にある要素を抜き出す
print("現在の変数eは {e}".format(e = e))

e.pop(1) の戻り値は 0.
現在の変数eは [1, 2, 3]

#### **list.clear()**
リスト中の全ての要素を削除する。
```python
del a[:]
```
と等価

In [0]:
f = [1,2,3]
g = [4,5,6]
f.clear()
print("f is {list}".format(list = f))
g.clear()
print("g is {list}".format(list = g))

f is []
g is []

#### **list.index(x[, start[, end]])**
リスト中で、値 x を持つ最初の要素の位置をゼロから始まる添字で返します。 該当する要素がなければ、ValueError を送出します。

任意の引数である start と end はスライス記法として解釈され、リストの探索範囲を指定できます。返される添字は、start 引数からの相対位置ではなく、リスト全体の先頭からの位置になります。

**配列みたいな表記はオプション引数の表記だから！**

In [0]:
h = [0,0,0,1,1,1,0,0]
print(h.index(1))

3

In [0]:
i = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
print(len(i))

140

In [0]:
# 鷹の目スキルを使って、インデックス15あたりに１ない？ってのがわかったので
# 誤差プラマイ５を考慮して探索してみよう

# インデックス１０から２０の間にありそうな１を探索する
print(i.index(1, 10, 20))

19

#### **list.count(x)**
リストでの x の出現回数を返す。

In [0]:
k = [0, 0, 0, 0, 1, 1, 1, 1, 2, 2]
print(k.count(1))

4

#### **list.sort(key=None, reverse=False)**

リストの項目を、インプレース演算 (in place、元のデータを演算結果で置き換えるやりかた) でソートします。引数はソート方法のカスタマイズに使えます。 

sorted() はイテラブルも可能

**=Noneとかはデフォルト引数の表記ね。つまり引数なしでも呼べるの**

https://docs.python.org/ja/3/howto/sorting.html

In [0]:
l = [1, 3, 2, 6, 5, 4]
l.sort()
print(l)

[1, 2, 3, 4, 5, 6]

In [0]:
m = [1, 5, 3, 4, 6, 2]
m.sort(reverse=True)
print(m)

[6, 5, 4, 3, 2, 1]

In [0]:
n = range(10,0,-1)
print(list(n))
print(sorted(n))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

キーとして扱えるものが存在するタプルや辞書には引数keyで対応できる

In [0]:
o = [
     (3, "Joseph Gilgun"),
     (4, "Samy Naceri"),
     (1, "Sylvester Stallone"),
     (2, "Jason Statham")
    ]

o.sort(key=lambda x: x[0]) # タプル要素０の数字ソート
print(n)

[(1, 'Sylvester Stallone'), (2, 'Jason Statham'), (3, 'Joseph Gilgun'), (4, 'Samy Naceri')]

#### **list.reverse()**
リストの要素を、インプレース演算で逆順にします。

In [0]:
p = [1, 1, 0, 0, 2, 2]
p.reverse()
print(p)

[2, 2, 0, 0, 1, 1]

#### **list.copy()**
リストの浅い (shallow) コピーを返します。a[:] と等価です。

In [0]:
q = [1, 2, 3, 4]
r = q.copy()
s = q[:]
print(q)
print(r)
print(s)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

### 5.1.1 リストをスタックとして使う
スタックってなに：挿入、削除がリストの先頭からしかできないLIFO（Last In First Out）のデータ構造

In [0]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print(stack)

[3, 4, 5, 6, 7]

In [0]:
stack.pop()

7

In [0]:
print(stack)

[3, 4, 5, 6]

In [0]:
stack.pop()

6

In [0]:
stack.pop()

5

### 5.1.2 リストをキューとして使う
キューってなに：先に入れた要素から順に取り出すという規則で出し入れを行うFIFO(First In First Out)データ構造

In [0]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [0]:
queue.popleft()                 # The second to arrive now leaves

'John'

In [0]:
queue

deque(['Michael', 'Terry', 'Graham'])

### 5.1.3 リストの内包表記

In [0]:
squares = []
for x in range(10):
  squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [0]:
squares = list(map(lambda x: x**2, range(10)))
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [0]:
squares = [x**2 for x in range(10)]
print(squares)

In [0]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

1. x = 1でy = 3,1,4とループが回るが、y = 1 = xとなるのでそこは出力されない(この時点で(1, 3),(1, 4)が出力されている)
2.3も同様に、x = yでないときを除き、yとのタプルが生成される。

わかりやすくすると以下のようなコードになる

In [0]:
combs = []
for x in [1, 2, 3]:
  for y in [3, 1, 4]:
    if x != y:
      combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [1]:
vec = [-4, -2, 0, 2, 4]

# ２倍の値のリストを作る
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [2]:
# リストからマイナスの値を除く
[x for x in vec if x >= 0]

[0, 2, 4]

In [3]:
# リスト内全ての値に関数を適用する
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

In [4]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']

# 半角スペースをリストの各要素から除く
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [5]:
# 数値とその二条の値からなるタプルのリストを作る
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [0]:
# list comprehensionを使って二次元リストを平滑化する
vec = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[num for elem in vec for num in elem]

#### リスト内包表記
リストの中身を二倍にしたリストを作りたい場合

**リスト内包表記を使わない場合**

In [13]:
ｔ = [1, 2, 3]

def doubler(lst):
    doubled = []
    for num in lst:
        doubled.append(num*2)
    return doubled

double_ｔ = doubler(ｔ)
print(double_ｔ)

[2, 4, 6]

**リスト内包表記を使う場合**

In [14]:
u = [1, 2, 3]

def doubler(lst):
    doubled = [num*2 for num in lst]
    return doubled

double_u = doubler(u)
print(double_u)

[2, 4, 6]

In [15]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

### 5.1.4. ネストしたリストの内包表記

In [0]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
 ]

In [18]:
# リストの行と列を入れ替える（行列の転置）
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

下記のコードも同様の結果になる

In [19]:
transposed = []

for i in range(4):
  transposed.append([row[i] for row in matrix])

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

下記も同じ

In [26]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
 ]

transposed = []
for i in range(4):
  transposed_row = []
  for row in matrix:
    transposed_row.append(row[i])
  transposed.append(transposed_row)

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [27]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
 ]

list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

### 5.2 del文
リストから要素を削除する際、値を指定するlist.remove(value)の代わりにインデックスを指定する方法

In [28]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
print(a)

[1, 66.25, 333, 333, 1234.5]

In [29]:
del a[2:4]
print(a)

[1, 66.25, 1234.5]

In [30]:
del a[:]
print(a)

[]

## 5.3. タプルとシーケンス

In [32]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [33]:
t

(12345, 54321, 'hello!')

In [0]:
u = t, (1, 2, 3, 4, 5)
u
((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))